@import "../../../../styles/global.scss";
.helpSection {
    margin: 0;
    :global{
        .container{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @include md{
                flex-wrap: wrap;
            }
            .filterContent{
                width: 81%;
                margin-top: 60px;
                @include x-xxl{
                    width: 79%; 
                }
                @include xmd{
                    width: 75%;
                }
                @include lg{
                    width: 66%;
                }
                @include md{
                    width: 100%;
                }
                .accordian{
                    .accordionSummary{
                        .typography{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 22px 0 22px 0;
                            border-bottom: 1px solid rgba(77,77,79,.25);
                            cursor: pointer;
                            button{
                                padding: 0;
                                @include lg{
                                    padding: 0 10px;
                                }
                                img{
                                    height: 9px;
                                    width: 15px;
                                }
                            }
                            h4{
                                margin: 0;
                                @include lg{
                                    font-size: 18px;
                                }
                                @include md{
                                    font-size: 16px;
                                    width: 80%;
                                }
                            }
                        }
                    }
                    .accordionDetails{
                        display: none;
                    }
                    &.openAccordion{
                        .accordionSummary{
                            .typography{
                                border-bottom: 0;
                            }
                            button{
                                img{
                                    transform: rotate(180deg);
                                }
                            }
                        }
                        .accordionDetails{
                            display: block;
                            border-bottom: 1px solid rgba(77,77,79,.25);
                        } 
                    }
                }
                .allBtn{
                    margin: 40px auto 0 auto;
                    display: block;
                    @include lg{
                        padding-top: 11px;
                    }
                }
            }
        }
    }
    .filterBy{
        width: 100%;
        max-width: 255px;
        margin-top: 60px;
    }
}