@import "../../../../styles/global.scss";
.helpSection {
    margin: 0;
    :global{
        .container{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .filterFaq{
                width: 18%;
                max-width: 255px;
                margin-top: 60px;
                h3{
                    margin-bottom: 12px;
                }
                > ul{
                    width: 100%;
                    > li{
                        width: 100%;
                        padding: 15px 0;
                        //border-top: 1px solid rgba(77,77,79,.25);
                        border-bottom: 1px solid rgba(77,77,79,.25);
                        position: relative;
                        cursor: pointer;
                        // &:first-child{
                        //     border-top: 1px solid rgba(77,77,79,.25); 
                        // }
                        .checkboxDiv{
                            display: none;
                            margin-top: 15px;
                            .form-control{
                                position: relative;
                                width: 100%;
                                margin: 0;
                                padding: 0 0 0 30px;
                                cursor: pointer;
                                display: inline-block;
                                &::before{
                                    position: absolute;
                                    top: 4px;
                                    left: 0;
                                    display: inline-block;
                                    box-sizing: border-box;
                                    width: 18px;
                                    height: 18px;
                                    border-radius: 0;
                                    content: "";
                                    border: 1px solid $black-color;
                                    background-color: #fff; 
                                }
                                &::after{
                                    background: url('/assets/images/tick-mark.svg') no-repeat center;
                                    content: "";
                                    position: absolute;
                                    top: -5px;
                                    left: 0;
                                    display: inline-block;
                                    box-sizing: border-box;
                                    width: 24px;
                                    height: 31px;
                                    display: none;
                                }
                            }
                            input[type="checkbox"]{
                                position: absolute;
                                top: 4px;
                                left: 0;
                                margin: 0 5px 0 0;
                                border: none;
                                visibility: hidden;
                                opacity: 0;
                                &:checked{
                                    & + .form-control{
                                        &::after{
                                            display: block;
                                        }
                                    }
                                    & + .form-control + ul{
                                        display: block;
                                    }
                                }
                            }
                            > ul{
                                display: none;
                                padding-left: 30px;
                                margin-top: 10px;
                                > li{
                                    margin-bottom: 12px;
                                }
                            }
                        }
                        button{
                            position: absolute;
                            right: 10px;
                            top: 20px;
                            img{
                                height: 8px;
                                width: 14px;
                            }
                        }
                        &.openFilterTitle{
                            .checkboxDiv{
                                display: block;
                            }
                            button{
                                img{
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
            .filterContent{
                width: 81%;
                margin-top: 60px;
                .accordian{
                    .accordionSummary{
                        .typography{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 22px 0 22px 0;
                            border-bottom: 1px solid rgba(77,77,79,.25);
                            cursor: pointer;
                            button{
                                padding: 0;
                                img{
                                    height: 9px;
                                    width: 15px;
                                }
                            }
                            h4{
                                margin: 0;
                            }
                        }
                    }
                    .accordionDetails{
                        display: none;
                    }
                    &.openAccordion{
                        .accordionSummary{
                            .typography{
                                border-bottom: 0;
                            }
                            button{
                                img{
                                    transform: rotate(180deg);
                                }
                            }
                        }
                        .accordionDetails{
                            display: block;
                            border-bottom: 1px solid rgba(77,77,79,.25);
                        } 
                    }
                }
                .allBtn{
                    margin: 40px auto 0 auto;
                    display: block;
                }
            }
        }
    }
}