@import "../../../../styles/global.scss";

.bookingDetailBox {
  :global {
    .bookingInfo {
      border: 1px solid rgba(77, 77, 79, 0.5);
      padding: 87px;
      margin: 45px 0;
      .infoList {
        margin: 29px 0 23px;
        .list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 5px;
          span {
            font-family: $title-font;
            font-size: 16px;
          }
        }
      }
    }
  }
}
