@import "../../../../styles/global.scss";

.bookingDetailBox {
  :global {
    .bookingInfo {
      border: 1px solid rgba(77, 77, 79, 0.5);
      padding: 87px;
      margin: 45px 0;
      @include xl {
        padding: 45px;
      }
      @include lg {
        padding: 30px;
      }
      .infoList {
        margin: 29px 0 23px;
        .list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 5px;
          span {
            font-family: $title-font;
            font-size: 16px;
          }
        }
      }
      .twoBtns {
        .allBtn {
          @include xl {
            padding: 10px 25px;
            margin: 0 25px 0 0;
          }
          @include lg {
            margin: 0 0 20px 0;
          }
          @include md {
            width: 100%;
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
}
