@import "../../../../styles/global.scss";
.mainLegalLanding {
    margin: 0;
    :global{
        .container{
            ul{
                max-width: 1160px;
                margin: 0 auto;
                width: 100%;
                li{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid rgba(77,77,79,.25);
                    padding: 20px 0;
                    .allBtn{
                        margin: 0;
                        @include md{
                            padding-left: 30px;
                            padding-right: 30px;
                        }
                    }
                    h3{
                        margin: 0;
                        font-family: $title-font;
                        @include md{
                            font-size: 20px;
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}