@import "../../../../styles/global.scss";
.confirmPropertyDetailsForm {
    margin: 0;
    :global{
        .steps{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            max-width: 1165px;
            margin: 6px auto 50px auto;
            text-align: center;
            position: relative;
            .singlestep{
                text-align: center;
                position: relative;
                &::before{
                    content: "";
                    border: none;
                    height: 1px;
                    width: 235%;
                    background-color: #20535a;
                    position: absolute;
                    top: 32%;
                    z-index: -1;
                    left: 76%;
                }
                a{
                   height: 75px;
                   width: 75px;
                   border: 1px solid $green-color;
                   border-radius: 50%; 
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   text-decoration: none;
                   margin: 0 auto;
                   background-color: #fff;
                   position: relative;
                   svg{
                    width: 35px;
                    height: 30px;     
                  }
                   span{
                        width: 35px;
                        height: 30px;                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        position: absolute;
                        margin-top: 4px;
                   }
                }
                h4{
                    font-size: 16px;
                    color: $black-color;
                    margin-top: 10px;
                }
                &:last-child{
                    &::before{
                        display: none;
                    }
                }
                &.activeStep{
                    a{
                        background-color: $green-color;
                    }                    
                }

            }
        }
        form{
            .declinedError{
                max-width: 1165px;
                margin:-23px  auto 61px auto;
                text-align: center;
                position: relative;
                background-color: #BE1600;
                color: $white-color;
                padding: 29px 50px;
                .reason{
                    display: flex;
                    align-items: flex-start;
                    margin-top: 12px;
                    img{
                        width: 36px;
                        height: 36px;
                    }
                    .warningDiv{
                        text-align: left;
                        margin-left: 20px;
                        h3{
                            margin: 10px 0 10px 0;
                        }
                    }
                }
            }
            .formDiv{
                width: 100%;
                margin: 0;
                padding: 0;        
                .formDetails{
                    max-width: 980px;
                    margin: 0 auto;
                    h2{
                        text-align: left;
                        font-family: $title-font;
                        margin: 0 0 20px 0;
                    }
                    p{
                        margin-bottom: 25px;
                    }
                    .inputGroup{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        .halfInput{
                            width: 49%;
                        }
                    }
                    hr{
                        opacity: .5;
                        height: 1px;
                        background-color: $breadcumb-color;
                        border: 0;
                        margin: 44px 0 38px 0;
                    }
                    .aboutYou{
                        .inputGroup{
                            &.instaGroup{
                                .halfInput{
                                    display: flex;
                                    align-items: center;
                                    span{
                                        height: 32px;
                                        width: 32px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: $green-color;
                                        border-radius: 50%;
                                        margin-right: 20px;
                                        margin-top: -15px;
                                    }
                                    input{
                                        width: 89%;
                                    }
                                }
                            }
                            
                        }
                        h2  {
                            text-align: left;
                            letter-spacing: 0;
                            margin-bottom: 27px;
                        }
                        textarea{
                            min-height: 147px;
                        }
                        hr{
                            margin-top: 23px;
                        }
                    }
                    .imageSection{
                        h2{
                            text-align: left;
                            letter-spacing: 0;
                            margin-bottom: 20px;
                        }
                        p{
                            margin: 0;
                        }
                        .imageBox{
                            margin: 25px 0 0 0;
                            max-width: 890px;
                            ul{
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                grid-row-gap: 8px;
                                align-items: flex-start;
                                grid-column-gap: 12px;
                                li{
                                    text-align: center;
                                    padding-top: 30px;
                                    padding-bottom: 0;
                                    a{
                                        max-width: 235px;
                                        width: 100%;
                                        img{
                                            width: 235px;
                                            height: 235px;
                                            object-fit: cover;
                                        }
                                    }
                                    &.featuredImage{    
                                        background-color: $green-color;
                                        h3{
                                            color: #fff;
                                            font-size: 22px;
                                            margin-bottom: 23px;
                                            margin-top: 12px;
                                        }
                                    }
                                    .upload-btn{
                                        max-width: 240px;
                                        width: 100%;
                                        display: inline-block;
                                        cursor: pointer;
                                        background-color: transparent;
                                        border: none;
                                        box-shadow: none;
                                        outline: 0;
                                        padding: 0;
                                        .file-btn{
                                            height: 235px;
                                            width: 100%;
                                            background-color: $grey-color;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            margin-top: 0;
                                            img{
                                                height: 205px;
                                                width: 205px;
                                            }
                                        }
                                        .add-img{
                                            text-align: center;
                                            width: 100%;
                                            display: inline-block;
                                            margin-top: 25px;
                                            text-decoration: underline;
                                            color: $green-color;
                                            text-decoration: underline;
                                            font-size: 16px;
                                        }
                                    }
                                    .drop_down{
                                        max-width: 240px;
                                        width: 100%;
                                        margin: 7px auto 0 auto;
                                        .wrapper_dropdown{
                                          width: 100%;
                                          background: #fff;
                                          position: relative;
                                          transition: 0.5s li;
                                          margin-bottom: 0;
                                          .selected_value{
                                            width: 100%;
                                            padding: 10px 25px;
                                            display: flex;
                                            justify-content: space-between;
                                            font-size: 16px;
                                            font-weight: 700;
                                            color: #4D4D4F;
                                            text-align: left;
                                            position: relative;
                                            z-index: 9;
                                            cursor: pointer;
                                            // @include ipad_view {
                                            //   font-size: 14px;
                                            //   padding: 12px 20px;
                                            // }
                                          }
                                          > div{
                                            width: 100%;
                                            cursor: pointer;
                                            position: relative;
                                            z-index: 99;                  
                                        }
                                        :global{
                                          .react-select__control {
                                            border: 0;
                                            border-radius: 0;
                                            outline: none !important;
                                            box-shadow: none !important;
                                            padding: 0;
                                            cursor: pointer;
                                            background-color: #fff;
                                            min-height: 50px;
                                            padding: 0 15px;
                                            text-align: left;
                                            border: 1px solid rgba(77,77,79,.5);
                                            // @include ipad_view {
                                            //   padding-left: 20px;
                                            //   padding-right: 20px;
                                            // }
                                            :global{
                                                .react-select__placeholder{
                                                  font-size: 14px;
                                                  font-weight: 400;
                                                  color: #4D4D4F;
                                                //   @include ipad_view {
                                                //     font-size: 14px;
                                                //   }
                                                }
                                                .react-select__value-container{
                                                    padding: 0;
                                                    
                                                    .react-select__single-value{
                                                      color: #4D4D4F;
                                                      font-weight: 400;
                                                      font-size: 15px;
                                                      @media only screen and (max-width:1240px){
                                                        font-size: 14px;
                                                      }
                                                    }
                                                }
                                                .react-select__input-container{
                                                    margin: 0;
                                                    padding: 0;
                                                    color: #000;
                                                    input[type="text"]{
                                                        height: 35px !important;
                                                        color: #000 !important;
                                                        min-height: auto;
                                                    }
                                                }
                                            }
                                            &.react-select__control--menu-is-open{
                                              border: 1px solid rgba(77,77,79,.5);
                                              border-bottom: 0;
                                              .react-select__indicators{
                                                &::after{
                                                  transform: rotate(180deg);
                                                }
                                              }
                                            }
                                          } 
                                          .react-select__menu{
                                            margin: 0;
                                            border-radius: 0;
                                            box-shadow: none;
                                            border: 1px solid rgba(77,77,79,.5);
                                            border-top: 0;
                                            font-size: 15px;
                                            .react-select__menu-list {
                                              padding-left: 25px;
                                              padding-right: 25px;
                                              padding-top: 0;
                                              padding-bottom: 20px;
                                              max-height: 320px;
                                              .react-select__option{
                                                color: $black-color;
                                                font-weight: 400;
                                                padding: 10px 0;
                                                border-top: 1px solid rgba(77,77,79,.25);
                                                cursor: pointer;
                                                text-align: left;
                                                background-color: #fff;     
                                                font-size: 15px;                 
                                                // @include ipad_view {
                                                //   font-size: 14px;
                                                // }
                                                &:last-child{
                                                    border-bottom: 1px solid rgba(77,77,79,.25);
                                                }
                                                &.react-select__option--is-focused{
                                                  background-color: #fff;
                                                }
                                              }
                                            }
                                          }
                                        }
                                        
                                        input{
                                            box-shadow: none!important;
                                            height: 36px;
                                        }
                                        
                                        >div{
                                            >div{
                                                >div{
                                                    span{
                                                        display:none;
                                                    }
                                                    svg{
                                                        display:none;
                                                    }
                                                    & + div:after{
                                                        content:"";
                                                        background-image:url('/assets/images/down-arrow.svg');
                                                        background-position: right center;
                                                        background-size: contain;
                                                        background-origin: border-box;
                                                        background-repeat: no-repeat !important;
                                                        position: absolute;
                                                        width: 12px;
                                                        height: 12px;
                                                        right: 15px;                                  
                                                    }
                                                }
                                            }
                                        }
                                        }
                                    }
                                }
                            }
                        }
                        .upload-btn{
                            max-width: 132px;
                            width: 100%;
                            display: inline-block;
                            cursor: pointer;
                            background-color: transparent;
                            border: none;
                            box-shadow: none;
                            outline: 0;
                            padding: 0;
                            .file-btn{
                                height: 130px;
                                width: 130px;
                                background-color: $grey-color;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-top: 30px;
                                img{
                                    height: 105px;
                                    width: 105px;
                                }
                            }
                            .add-img{
                                text-align: center;
                                width: 100%;
                                display: inline-block;
                                margin-top: 10px;
                                text-decoration: underline;
                                color: $green-color;
                                text-decoration: underline;
                                font-size: 16px;
                            }
                        }
                        & + hr{
                            margin-top: 30px;
                        }
                    }
                    .button-container{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .allBtn{
                            margin: 0;
                            &.border{
                                margin-left: auto;
                                margin-right: 45px;
                            }
                        }
                    }
                    .selected-file{
                        margin-top: 20px;
                        max-width: 132px;
                        width: 100%;
                        img{
                            width: 100%;
                        }
                        p{
                            width: 100%;
                            line-height: normal;
                            text-align: center;
                            font-size: 12px;
                        }
                        button{
                            text-decoration: underline;
                            cursor: pointer;
                            background-color: transparent;
                            border: none;
                            box-shadow: none;
                            outline: 0;
                            padding: 0;
                            color: $green-color;
                            text-align: center;
                            width: 100%;
                            font-size: 14px;
                        }
                    }
                    .allBtn{
                        display: flex;
                        justify-content: flex-end;
                        margin-left: auto;
                    }
                    .form-control{
                        position: relative;
                        width: 100%;
                        margin: 0;
                        padding: 0 0 0 30px;
                        cursor: pointer;
                        display: inline-block;
                        &::before{
                            position: absolute;
                            top: 4px;
                            left: 0;
                            display: inline-block;
                            box-sizing: border-box;
                            width: 18px;
                            height: 18px;
                            border-radius: 0;
                            content: "";
                            border: 1px solid $black-color;
                            background-color: #fff; 
                        }
                        &::after{
                            background: url('/assets/images/tick-mark.svg') no-repeat center;
                            content: "";
                            position: absolute;
                            top: -5px;
                            left: 0;
                            display: inline-block;
                            box-sizing: border-box;
                            width: 24px;
                            height: 31px;
                            display: none;
                        }
                    }
                    input[type="checkbox"]{
                        position: absolute;
                        top: 4px;
                        left: 0;
                        margin: 0 5px 0 0;
                        border: none;
                        visibility: hidden;
                        opacity: 0;
                        &:checked{
                            & + .form-control{
                                &::after{
                                    display: block;
                                }
                            }
                        }
                    }
                    input[type="radio"]{
                        position: absolute;
                        top: 4px;
                        left: 0;
                        margin: 0 5px 0 0;
                        border: none;
                        visibility: hidden;
                        opacity: 0;
                        &:checked{
                            & + .form-control{
                                &::after{
                                    display: block;
                                }
                            }
                        }
                    }
                    .commonSection{
                        h2{
                            margin-bottom: 20px;
                        }
                        p{
                            color: $green-color;
                            display: flex;
                            align-items: center;
                            margin-bottom: 17px;
                            span{
                                font-size: 12px;
                                margin-left: 26px;
                                img{
                                    margin: 0px 8px 0 0;
                                    position: relative;
                                    top: 2px;
                                }
                            }
                        }
                        .checkboxDiv{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: 20px;
                            .singleCheckbox{
                                width: 14.285%;
                            }
                        }
                        input{
                            margin-bottom: 0;
                        }
                        .hourDiv{
                            input{
                                max-width: 58px;
                                padding-left: 5px;
                                padding-right: 5px;
                                text-align: center;
                                margin-right: 20px;
                                .halfDiv{
                                    display: flex;
                                    justify-content: flex-start;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    .confirmPropertyDetailsStep2{
        :global{
            .formDiv{
                .formDetails{
                    .commonSection{
                        h3{
                            font-size: 22px;
                            margin-bottom: 20px;
                        }
                        & + hr{
                            margin-top: 42px;
                        }
                    }
                    // .commonSection{
                    //     h2{
                    //         margin-bottom: 15px;
                    //     }
                    // }
                    hr{
                        margin-top: 31px;
                    }
                    .form-control{
                        top: -6px;
                        &::before{
                            top: 4px;
                            left: -2px;
                        }
                    }
                    .commonSection{
                        .hourDiv{
                            .inputGroup{
                                .halfInput{
                                    justify-content: flex-start;
                                    align-items: center;
                                }
                            }
                        }
                    }
                    > .inputGroup{
                        input{
                            margin-bottom: 27px;
                        }
                    }
                }
            }
        }
    }
    .confirmPropertyDetailsStep3{
        :global{
            .formDiv{
                .formDetails{
                    h2{
                        margin-bottom:33px;
                    }
                    hr{
                        margin: 18px 0 20px 0;
                    }
                    .commonSection{
                        h3{
                            margin-bottom: 17px;
                        }
                        .checkboxDiv{
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            .singleCheckbox{
                                width: 25%;
                                margin-bottom: 12px;
                                position: relative;
                                input{
                                    &:checked{
                                        & + label + .hideDiv{
                                            display: block;
                                        }
                                    }
                                }
                                .hideDiv{
                                    width: 100%;
                                    display: none;
                                    .inputGroup{
                                        .halfDiv{
                                            display: flex;
                                            justify-content: flex-start;
                                            width: 100%;
                                            align-items: center;
                                            margin: 19px auto 13px auto;
                                            input[type="number"]{
                                                max-width: 70px;
                                                padding-left: 5px;
                                                padding-right: 5px;
                                                text-align: center;
                                                margin-right: 15px;                         
                                            }
                                            .allBtn{
                                                justify-content: flex-start;
                                                margin: 0;
                                            }
                                        }
                                    }    
                                }
                                &:last-child{
                                    width: 100%;
                                    .hideDiv{
                                        .inputGroup{
                                            .halfDiv{
                                                input[type="text"]{
                                                    margin-right: 30px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                        
                    }
                    .button-container{
                        margin-top: 34px;
                    }
                }
            }
        }
    }
    .confirmPropertyDetailsStep4{
        :global{
            .formDiv{
                .formDetails{
                    h2{
                        margin-bottom:33px;
                    }
                    hr{
                        margin: 18px 0 20px 0;
                    }
                    .commonSection{
                        h3{
                            margin-bottom: 17px;
                        }
                        .checkboxDiv{
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            .singleCheckbox{
                                width: auto;
                                margin-right: 20px;
                                margin-bottom: 15px;
                                position: relative;
                            }
                            
                        }
                        &.designStyle{
                            .singleCheckbox{
                                width: 16.66%;
                                margin-right: 0;
                            }
                        }
                    }
                    .button-container{
                        margin-top: 34px;
                    }
                }
            }
        }
    }
    .confirmPropertyDetailsStep5{
        :global{
            .formDiv{
                .formDetails{
                    h2{
                        margin-bottom:33px;
                    }
                    hr{
                        margin: 18px 0 20px 0;
                    }
                    .commonSection{
                        h3{
                            margin-bottom: 17px;
                        }
                        .checkboxDiv{
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            .singleCheckbox{
                                width: auto;
                                margin-right: 20px;
                                margin-bottom: 15px;
                                position: relative;
                            }
                            
                        }
                        &.designStyle{
                            .singleCheckbox{
                                width: 14.285%;
                                margin-right: 0;
                            }
                        }
                    }
                    .button-container{
                        margin-top: 34px;
                    }
                }
            }
        }
    }
    .confirmPropertyDetailsStep6{
        :global{
            .formDiv{
                .formDetails{
                    h3{
                        margin-bottom: 11px;
                    }
                    .commonSection{
                        .checkboxDiv{
                            margin-bottom: 16px;
                            .singleCheckbox{
                                width: auto;
                                margin-right: 40px;
                            }
                        }
                        &.lightingSection{
                            .checkboxDiv{
                                .singleCheckbox{
                                    width: auto;
                                    margin-right: 30px;
                                }
                            }
                        }
                    }
                    hr{
                        margin: 32px 0 31px 0;
                    }
                    .button-container{
                        margin-top: 39px;
                    }
                }
            }
        }
    }
    .confirmPropertyDetailsStep7{
        :global{
            .formDiv{
                .formDetails{
                    h2{
                        margin-bottom: 31px;
                    }
                    .commonSection{
                        .checkboxDiv{
                            margin-bottom: 0;
                            .singleCheckbox{
                                width: auto;
                                margin-right: 40px;
                                margin-bottom: 11px;
                            }
                        }
                        &.houseRules{
                            .checkboxDiv{
                                width: 100%;
                                flex-wrap: wrap;
                                .singleCheckbox{
                                    width: 100%;
                                }
                            }
                            & + hr{
                                margin: 21px 0 28px 0;
                            }
                        }
                        .inputGroup{
                            align-items: center;
                            input{
                                margin-right: 40px;
                            }
                            .allBtn{
                                margin: 0;
                            }
                        }
                        p{
                            margin-bottom: 27px;
                        }
                    }
                    .button-container{
                        margin-top: 39px;
                    }
                }
            }
        }
    }
}