@import "../../../../styles/global.scss";
.directoryMainListing {
    margin: 0;
    :global{
        .container{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @include md{
                flex-wrap: wrap;
            }
            .filterBy{
                margin-top: 87px;
            }
            .creativeTeam{
                width: 80.2%;
                margin-top: 85px;
                @include lg{
                    width: 65%;
                }
                @include md{
                    width: 100%;
                }
                .creativeTeamInfo{
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(4, 1fr);
                    column-gap: 54px;    
                    row-gap: 39px;
                    @include x-xxl{
                        column-gap: 40px;
                    }
                    @include xl{
                        column-gap: 20px;
                    }
                    @include lg{
                        grid-template-columns: repeat(2, 1fr);
                    }
                    @include md{
                        column-gap: 10px;
                    }
                    .slide{
                        .slideImg{
                            margin-bottom: 5px;
                            img{
                                height: 252px;
                                width: 249px;
                                object-fit: cover;
                                @include xmd{
                                    height: 210px;
                                }
                                @include xl{
                                    height: 180px;
                                }
                                @include lg{
                                    height: 230px;
                                }
                                @include md{
                                    height: 175px;
                                }
                            }
                        }
                        h3{
                            text-transform: uppercase;
                            font-family: $default-font;
                            font-size: 18px;
                            margin: 0;
                            @include xmd{
                                font-size: 16px;
                            }
                        }
                        .slideInfo{
                            max-width: 249px;
                            .subDetail{
                                width: 100%;
                                > div{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-bottom: 14px;
                                    span{
                                        img{
                                            position: relative;
                                            top: 3px;
                                            margin-right: 3px;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }                
                }
                .allBtn{
                    display: block;
                    margin: 34px auto 0 auto;
                    @include lg{
                        padding-top: 10px;
                    }
                }
            }
        }
        
    }
}