@import "../../../styles/global.scss";

.customerBookingEditRequest {
  margin: 0;
  :global {
    .mainBooking {
      margin-bottom: -50px;
      .container {
        .row {
          justify-content: space-between;
          .leftBooking {
            flex: 0 0 29%;
            width: 29%;
            @include lg {
              flex: 0 0 100%;
              width: 100%;
              margin-bottom: 30px;
            }
          }
          .rightBooking {
            flex: 0 0 68%;
            width: 68%;
            @include lg {
              flex: 0 0 100%;
              width: 100%;
            }
            .bookingInfo {
              padding: 60px;
              h4,h6{
                font-family: $title-font;
              }
              @include lg {
                padding: 30px;
              }
            }
          }
        }
      }
    }
  }
}
