@import "../../../../styles/global.scss";
.locationGrid {
  flex: 0 0 100%;
  margin: 0;
  :global {
    .container {
      padding: 0;
      .LocationMain {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        column-gap: 95px;
        margin-bottom: 30px;
        @include xl {
          column-gap: 50px;
        }
        @include x-lg {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 40px;
        }
        @include md {
          grid-template-columns: repeat(1, 1fr);
        }
        a{
          color: inherit;
          text-decoration: none;
        }
        .locationBox {
          .slideImg {
            position: relative;
            padding-bottom: 69%;
            & > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
            }
            .whishList {
              position: absolute;
              right: 20px;
              bottom: 13px;
              width: 30px;
              height: 30px;
              background-color: $white-color;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-repeat: no-repeat;
              background-position: center;
              cursor: pointer;
              &:hover {
                background-image: url('data:image/svg+xml,<svg id="Group_1385" data-name="Group 1385" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17.388" height="14.86" viewBox="0 0 17.388 14.86"><defs><clipPath id="clip-path"><rect id="Rectangle_389" data-name="Rectangle 389" width="17.388" height="14.86" fill="none"/></clipPath></defs><g id="Group_1364" data-name="Group 1364" clip-path="url(%23clip-path)"><path id="Path_169" data-name="Path 169" d="M14.954,2.174A3.153,3.153,0,0,0,11.548.251C9.392.265,7.863,2.812,7.7,3.038,7.541,2.812,6.011.265,3.855.251A3.153,3.153,0,0,0,.45,2.174,5.728,5.728,0,0,0,.4,4.986c.109.355,1.379,5.1,7.3,7.984,5.923-2.889,7.193-7.63,7.3-7.984A5.728,5.728,0,0,0,14.954,2.174Z" transform="translate(0.992 0.63)" fill="%2320535a"/></g></svg>');
              }
              &.added {
                background-image: url('data:image/svg+xml,<svg id="Group_1385" data-name="Group 1385" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17.388" height="14.86" viewBox="0 0 17.388 14.86"><defs><clipPath id="clip-path"><rect id="Rectangle_389" data-name="Rectangle 389" width="17.388" height="14.86" fill="none"/></clipPath></defs><g id="Group_1364" data-name="Group 1364" clip-path="url(%23clip-path)"><path id="Path_169" data-name="Path 169" d="M14.954,2.174A3.153,3.153,0,0,0,11.548.251C9.392.265,7.863,2.812,7.7,3.038,7.541,2.812,6.011.265,3.855.251A3.153,3.153,0,0,0,.45,2.174,5.728,5.728,0,0,0,.4,4.986c.109.355,1.379,5.1,7.3,7.984,5.923-2.889,7.193-7.63,7.3-7.984A5.728,5.728,0,0,0,14.954,2.174Z" transform="translate(0.992 0.63)" fill="%2320535a"/></g></svg>');
              }
            }
          }
          .slideInfo {
            margin: 16px 0 0 0;
            .subDetail {
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
              align-items: baseline;
              p {
                margin: 0;
              }
              h3 {
                
                font-size: 18px;
                text-transform: uppercase;
                flex: 0 0 55%;
                margin: 0;
                @include lg {
                  flex: 0 0 66%;
                }
              }
              .rating {
                display: flex;
                align-items: center;
                text-decoration: underline;
                font-family: $title-font;
                svg{
                  position: relative;
                  left: -5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
