@import "../../../styles/global.scss";
.trustUsPage{
    margin: 0;
    :global{
        .aboutRightImg{
            margin: 100px 0;
            .aboutImg{
                .imgFront{
                    &::before{
                        display: none;
                    }
                }
            }
        } 
        .lovedBy{
            margin-top: -45px;
            @include md{
                margin-top: -63px;
            }
            @include min-xl{
                margin-top: -60px;
                transform: rotate(-0.6deg);
                width: 101%;
                margin-left: -10px;
                padding: 50px 0;
            }            
            .container{
                @include min-xl{
                    transform: rotate(0.6deg);
                }
            }
            &::after{
                display: none;
            }
        }
        .hostTestimonialSection{
            .backImg{
                &::before{
                    background-color: $white-color;
                }
            }
        }
        .landingFaqSection{
            background-color: $white-color;
            padding: 0;
        }
    }
}