@import "../../../../styles/global.scss";

.topHost {
  background-color: $cream-color;
  margin: 50px 0 0 0;
  padding: 131px 0 145px;
  position: relative;
  @include lg {
    margin: 37px 0 0 0;
    padding: 80px 0 117px;
  }
  :global {
    .container {
      @include lg {
        padding: 0;
      }
      h2 {
        @include lg {
          padding: 0 65px;
          margin-bottom: 20px;
        }
      }
      .hostSlider {
        width: 1165px;
        margin: 0 auto;
        max-width: 100%;
        a{
          color: inherit;
          text-decoration: none;
        }
      }
      .allLocation {
        & > .slick-list {
          margin: 0 -25px;
          @include lg {
            margin: 0;
          }
          & > .slick-track {
            & > .slick-slide {
              padding: 0 25px;
              @include lg {
                padding: 0 15px;
              }
              .slide {
                .slideImg {
                  position: relative;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                .slideInfo {
                  margin: 16px 0 0 0;
                  .subDetail {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 3px;
                    align-items: baseline;
                    h3 {
                      font-family: $default-font;
                      font-size: 18px;
                      text-transform: uppercase;
                      flex: 0 0 85%;
                      margin: 0;
                    }
                    .rating {
                      display: flex;
                      align-items: center;
                      text-decoration: underline;
                      svg{
                        position: relative;
                        left: -5px;
                      }
                    }
                  }
                  .subDetailLast {
                    p {
                      margin-bottom: 0;
                      @include lg {
                        font-size: 13px;
                      }
                    }
                    svg {
                      margin: 4px 5px -1px 0;
                    }
                  }
                }
              }
            }
          }
        }
        .slick-dots {
          bottom: -47px;
          @include lg {
            bottom: -40px;
          }
        }
      }
    }
  }
  &::after {
    content: "";
    width: 95%;
    height: 5%;
    position: absolute;
    top: -3px;
    left: 0;
    background: $white-color;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 0);
    z-index: 1;
    @include lg {
      height: 2%;
    }
  }
  &::before {
    content: "";
    width: 50%;
    height: 13%;
    position: absolute;
    bottom: -90px;
    left: 0;
    background: $cream-color;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 0);
    z-index: 1;
    @include x-lg{
      bottom: -87px;
    }
    @include lg {
      height: 5%;
      bottom: -25px;
    }
  }
}
