@import "../../../../styles/global.scss";

.mainPopup {
  :global {
    .innerPopup {
      .popupInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 95px;
        row-gap: 23px;
        @include lg {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 30px;
        }
        @include md {
          grid-template-columns: repeat(1, 1fr);
          column-gap: 30px;
        }
        .popupBox {
          .popupImg {
            position: relative;
            padding-bottom: 68%;
            margin-bottom: 27px;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
            }
          }
          &.createGroup {
            position: relative;
            .popupImg {
              padding-bottom: 80%;
              margin-bottom: 0;
              &::after {
                content: "";
                width: 30%;
                height: 22%;
                position: absolute;
                top: 0;
                right: 0;
                background: $white-color;
                clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 0);
              }
            }
            .addGroup {
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              transform: translate(0, -50%);
              z-index: 9;
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $white-color;
                img {
                  width: 75px;
                  height: auto;
                  margin-bottom: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
