@import "../../../styles/global.scss";

.requestBookingConfirmation {
  margin: 0;
  :global {
    .mainBooking {
      margin-bottom: -50px;
      .container {
        .backBtn {
          display: flex;
          align-items: center;
          margin: 4px 0 25px;
          svg {
            margin: 0 10px 0 0;
          }
        }
        .row {
          justify-content: space-between;
          .leftBooking {
            flex: 0 0 29%;
            width: 29%;
          }
          .rightBooking {
            flex: 0 0 65%;
            width: 65%;
            .bookTxt {
              margin-bottom: 50px;
            }
            .bookingOrderSummary {
              & > div {
                padding: 90px;
                .subDetail {
                  span {
                    font-size: 20px;
                    &.normal {
                      font-size: 14px;
                    }
                  }
                  &.total {
                    span {
                      font-size: 25px;
                      &:last-child {
                        font-size: 14px;
                      }
                    }
                  }
                }
                hr {
                  &:nth-of-type(2) {
                    margin: 37px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
