@import "../../../../styles/global.scss";
.aboutArtistSection{
    margin: 0;
    background-color: $cream-color;
    :global{
        .container {
            .hostSlider {
              width: 1165px;
              margin: 0 auto;
              max-width: 85%;
              .slide {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                .hostLeft {
                  flex: 0 0 22%;
                  margin: 0 40px 0 0;
                  @include lg {
                    flex: 0 0 100%;
                    width: 22%;
                    margin-bottom: 28px;
                    max-width: 300px;
                  }
                  .slideImg {
                    position: relative;
                    img {
                      width: 100%;
                      height: 100%;
                      min-height: 260px;
                    }
                  }
                  .slideInfo {
                    margin: 0;
                    .subDetail {
                      display: flex;
                      justify-content: space-between;
                      margin-bottom: 3px;
                      align-items: baseline;
                      h3 {
                        font-family: $default-font;
                        font-size: 18px;
                        text-transform: uppercase;
                        flex: 0 0 85%;
                        margin: 0;
                      }
                      .rating {
                        display: flex;
                        align-items: center;
                        text-decoration: underline;
                      }
                    }
                    .subDetailLast {
                      p {
                        margin-bottom: 0;
                      }
                      svg {
                        margin: 4px 5px -1px 0;
                      }
                    }
                  }
                }
                .hostRight {
                  flex: 0 0 70%;
                  @include lg {
                    flex: 0 0 100%;
                    width: 100%;
                  }
                  .allBtn {
                    margin-top: 15px;
                  }
                }
              }
            }
          }
    }
}