@import "../../../../styles/global.scss";

.profileDetail {
  margin: 10px 0 90px 0;
  :global {
    .container {
      .row {
        justify-content: space-between;
        .hostLeft {
          flex: 0 0 29%;
          width: 29%;
        }
        .hostRight {
          flex: 0 0 65.5%;
          width: 65.5%;
        }
      }
    }
  }
}
