@import "../../../../styles/global.scss";

.createAccountForm {
  margin: 25px 0 0 0;
  :global {
    .container {
      .mainForm {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        flex-wrap: wrap;
        .signup {
          flex: 0 0 58%;
          width: 58%;
          @include md {
            width: 100%;
            flex: 0 0 100%;
          }
          & > div {
            background-color: $cream-color;
            padding: 100px;
            @include lg {
              padding: 50px;
            }
            @include md {
              padding: 30px;
              margin-bottom: 35px;
            }
            input {
              border: none !important;
            }
          }
          .rightAlign {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @include md {
              display: block;
            }
            .allBtn {
              margin-top: 0;
            }
          }
          .singleCheckbox {
            @include md {
              margin-bottom: 20px;
            }
            .form-control {
              &::before {
                border: none;
              }
            }
          }
        }
        .login {
          flex: 0 0 38%;
          width: 38%;
          @include md {
            width: 100%;
            flex: 0 0 100%;
          }
          & > div {
            padding: 100px;
            border: 1px solid rgba(0 0 0 / 25%);
            @include lg {
              padding: 50px;
            }
            @include md {
              padding: 30px;
            }
          }
        }
      }
    }
  }
}
