@import "../../../../styles/global.scss";

.latestNews {
  margin: 100px 0;
  @include lg {
    margin: 0;
  }
  :global {
    .container {
      .title {
        align-items: flex-end;
        & > div {
          span {
            color: $black-color;
          }
          h2 {
            color: $black-color;
            @include lg {
              margin: 0;
            }
          }
        }
        &::before {
          background-color: $black-color;
        }
        a {
          @include lg {
            margin: 0;
          }
        }
      }
      .allLocation {
        & > .slick-list {
          margin: 0 -50px;
          & > .slick-track {
            & > .slick-slide {
              padding: 0 50px;
              .slide {
                .slideImg {
                  position: relative;
                  padding-bottom: 68%;
                  img {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                  }
                }
                .slideInfo {
                  margin: 22px 0 0 0;
                  h3{
                    font-family: $title-font;
                  }
                  .titleDouble {
                    span {
                      color: $black-color;
                      margin-bottom: 19px;
                    }
                    h3 {
                      color: $black-color;
                      font-size: 19px;
                      line-height: 25px;
                      letter-spacing: 1.5px;
                      margin-bottom: 10px;
                    }
                    &::before {
                      background-color: $black-color;
                    }
                  }
                  p {
                    margin: 0 0 20px 13px;
                  }
                  a {
                    margin: 0 0 0 9px;
                  }
                }
              }
            }
          }
        }
        .slick-dots {
          bottom: -55px;
          @include lg {
            bottom: -45px;
          }
        }
      }
    }
  }
}
