@import "../../../styles/global.scss";

.mainHeader {
  padding: 25px 0;
  margin: 0;
  @include lg {
    padding: 25px 0 17px;
  }
  :global {
    .container {
      .row {
        justify-content: space-between;
        .logoMain {
          @include lg {
            flex: 0 0 40%;
            text-align: center;
            img {
              width: 132px;
              height: auto;
            }
          }
        }
        .mainMenu {
          display: flex;
          align-items: center;
          position: relative;
          @include md {
            position: unset;
          }
          & > ul {
            display: flex;
            align-items: center;
            @include lg {
              display: none;
            }
            li {
              margin-right: 90px;
              a {
                font-family: $title-font;
                font-size: 22px;
                line-height: 30px;
                text-decoration: none;
              }
            }
          }
          .menuBtn {
            img {
              cursor: pointer;
              &.active {
                & + .secondMenu {
                  display: block;
                }
              }

              // @include lg {
              //   display: none;
              //   &.active {
              //     display: block;
              //   }
              // }
            }
            .secondMenu {
              display: none;
              position: absolute;
              right: 0;
              background-color: $cream-color;
              z-index: 9;
              top: 105px;
              min-width: 305px;
              @include lg {
                top: 80px;
              }
              @include md {
                top: 105px;
                min-width: 100%;
              }
              ul {
                // padding: 10px 50px;
                padding: 20px 50px;
                &.forMobile {
                  display: none;
                  padding-bottom: 0;
                  @include lg {
                    display: block;
                  }
                  li {
                    background-image: none;
                    a {
                      color: $green-color;
                      font-size: 25px;
                    }
                    &:last-child {
                      padding-bottom: 15px;
                      border-bottom: 1px solid rgb(77 77 79 / 50%);
                    }
                  }
                }
                li {
                  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8.659" height="15.318" viewBox="0 0 8.659 15.318"><path id="Path_3980" data-name="Path 3980" d="M6.952,0,0,6.952,6.952,13.9" transform="translate(7.659 14.611) rotate(180)" fill="none" stroke="%23455c58" stroke-width="2"/></svg>');
                  background-repeat: no-repeat;
                  background-position: center right;
                  background-size: 8px;
                  background-color: $cream-color;
                  &.hasBorder {
                    border-bottom: 1px solid rgb(77 77 79 / 50%);
                    border-top: 1px solid rgb(77 77 79 / 50%);
                    margin: 11px 0;
                    padding: 15px 0;
                    &:last-child {
                      border-bottom: none;
                      margin-bottom: 0;
                      padding-bottom: 0;
                    }
                    &:first-child {
                      border-top: none;
                      margin-top: 0;
                      padding-top: 0;
                    }
                  }
                  a {
                    text-decoration: none;
                    text-transform: capitalize;
                    font-family: $title-font;
                    font-size: 18px;
                    display: block;
                    //padding: 29px 0;
                    padding: 12px 0;
                    color: $black-color;
                    @include lg {
                      font-size: 20px;
                    }
                  }
                }
              }
              .hideMenus {
                position: absolute;
                // top: 10px;
                top: 0;
                visibility: hidden;
                z-index: 9;
                left: 0;
                right: 0;
                background-color: $cream-color;
                &.active {
                  visibility: visible;
                }
              }
              .largeMenu {
                width: max-content;
                left: auto;
                max-width: 525px;
                @include lg {
                  width: 100%;
                }
                .notifyTitle {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-bottom: 12px;
                  span {
                    font-size: 18px;
                    font-family: $title-font;
                  }
                }
                .notifyInfo {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  p {
                    margin: 0;
                    font-size: 16px;
                  }
                  a {
                    color: $green-color;
                    text-decoration: underline;
                    font-size: 14px;
                  }
                }
                ul {
                  padding: 40px 40px 40px 50px;
                  li {
                    background-image: none;
                    border-bottom: 1px solid $black-color;
                    padding-bottom: 13px;
                    margin-bottom: 13px;
                    a {
                      font-family: $default-font;
                      font-size: 15px;
                    }
                    &:last-child {
                      border-bottom: none;
                      margin-bottom: 0;
                      padding-bottom: 0;
                      a {
                        padding-bottom: 0;
                      }
                    }
                  }
                }
              }
              &::after {
                content: "";
                background-image: url('data:image/svg+xml,<svg id="Group_4420" data-name="Group 4420" xmlns="http://www.w3.org/2000/svg" width="11.757" height="10.606" viewBox="0 0 11.757 10.606"><g id="Group_4419" data-name="Group 4419" transform="translate(0 10.606) rotate(-90)"><path id="Path_613" data-name="Path 613" d="M5.827,0l5.93,4.248v6.358H0V4.248Z" transform="translate(10.606) rotate(90)" fill="%23e6e2df"/></g></svg>');
                width: 12px;
                height: 11px;
                position: absolute;
                top: -11px;
                right: 40px;
                @include md {
                  right: 70px;
                }
              }
            }
          }
        }
      }
    }
    .menuOverlay {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: $black-color;
        z-index: -1;
        opacity: 0;
        top: 130px;
        @include lg {
          top: 105px;
        }
      }
      &.active {
        &::after {
          z-index: 3;
          opacity: 0.25;
        }
      }
    }
  }
}
