@import "../../../../styles/global.scss";

.browseByColour {
  background-color: $white-color;
  margin: 0;
  padding: 100px 0;
  @include lg {
    padding: 87px 0;
  }
  @include md{
    padding: 80px 0 0 0;
  }
  :global {
    .container {
      @include lg {
        padding: 0;
      }
      h2 {
        margin-bottom: 40px;
        @include lg {
          padding: 0 35px;
          margin-bottom: 20px;
        }
      }
      .styleSlider {
        & > .slick-list {
          margin: 0 -18px;
          @include lg {
            margin: 0;
          }
          & > .slick-track {
            & > .slick-slide {
              padding: 0 18px;
              .slideInfo {
                img {
                  height: 100%;
                  min-height: 205px;
                }
                h3 {
                  text-align: center;
                  
                  margin: 15px 0 0 0;
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
        .slick-dots {
          bottom: -53px;
          @include lg {
            bottom: -46px;
          }
          @include md{
            bottom: 40px;
          }
        }
      }
    }
  }
}
