@import "../../../../styles/global.scss";

.aboutLeftImg {
  margin: 0;
  padding: 100px 0;
  @include lg {
    padding: 100px 0 85px;
  }
  :global {
    .container {
      .row {
        align-items: center;
        .aboutInfo {
          flex: 0 0 49%;
          padding: 150px 155px 0 30px;
          @include lg {
            flex: 0 0 100%;
            width: 100%;
            padding: 60px 35px 0 47px;
          }
          .titleDouble {
            padding: 0;
            span {
              color: $green-color;
            }
            h2 {
              color: $green-color;
              @include lg {
                margin: 0 0 10px 0;
              }
            }
            &::before {
              left: -18px;
              background-color: #eeeeee;
            }
          }
          p {
            margin-bottom: 0;
          }
          .allBtn {
            @include lg {
              margin: 0;
            }
            &:hover {
              background-color: $cream-color;
            }
          }
          .twoBtns {
            flex-direction: unset;
            align-items: center;
            justify-content: space-between;
          }
        }
        .aboutImg {
          flex: 0 0 51%;
          position: relative;
          @include lg {
            flex: 0 0 100%;
            width: 100%;
          }
          .innerImg {
            @include lg {
              width: 340px;
              position: relative;
            }
            .imgFront {
              position: relative;
              z-index: 1;
              top: 100px;
              left: 140px;
              width: fit-content;
              @include lg {
                top: 33px;
                left: 33px;
              }
              & > img {
                width: 417px;
                height: 417px;
                @include lg {
                  width: 225px;
                  height: 225px;
                }
              }
              .imgInfo {
                margin: 12px 0 0 0;
                width: 415px;
                max-width: 55%;
                div {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  span {
                    img {
                      margin: 3px 3px -3px 0;
                    }
                  }
                }
                h4 {
                  font-family: $default-font;
                  @include lg {
                    margin: 0;
                  }
                }
              }
            }
            .imgBack {
              position: absolute;
              top: 0;
              right: 45px;
              @include lg {
                top: -22px;
                right: 30px;
              }
              img {
                width: 300px;
                height: 305px;
                @include lg {
                  width: 163px;
                  height: 165px;
                }
              }
              &::after {
                content: "";
                width: 35%;
                height: 20%;
                position: absolute;
                top: -1px;
                right: -1px;
                background: $white-color;
                clip-path: polygon(0 0, 100% 100%, 100% 100%, 100% 0, 0 0);
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }
}
