@import "../../../../styles/global.scss";

.customerMessagesBox {
  margin: 21px 0;
  :global {
    .mainMsgBox {
      border-top: 1px solid rgb(77 77 79 / 25%);
      display: flex;
      flex-wrap: wrap;
      & > div {
        border-right: 1px solid rgb(77 77 79 / 25%);
        @include lg {
          border-right: none;
        }
      }
      .msgList {
        flex: 0 0 21.3%;
        width: 21.3%;
        @include lg {
          flex: 0 0 100% !important;
          width: 100% !important;
        }
        &.show {
          display: block !important;
        }
        &.hide {
          display: none;
        }
        .mobileLink {
          @include min-lg {
            display: none;
          }
        }
        .titleBox {
          padding: 29px 21px;
          font-size: 21px;
          font-family: $title-font;
          border-bottom: 1px solid rgb(77 77 79 / 25%);
          @include min-lg {
            pointer-events: none;
          }
        }
        .allMsg {
          position: relative;
          .subList {
            height: 660px;
            overflow-y: auto;
            padding: 0 20px 0 0;
            width: calc(100% - 20px);
            @include lg {
              width: 100%;
              margin: 1px 0 0 0;
            }
            .msgBox {
              background-color: $white-color;
              padding: 25px 20px 12px;
              border-bottom: 1px solid rgb(77 77 79 / 25%);
              &.newMsg {
                background-color: $cream-color;
                border-bottom: none;
              }
              &:hover {
                background-color: $cream-color;
              }
              &:first-child {
                &::after {
                  content: "";
                  width: 40px;
                  right: 0;
                  position: absolute;
                  top: 0;
                  background-color: $white-color;
                  height: 12px;
                  @include lg {
                    width: 15px;
                  }
                }
              }
              .title {
                margin-bottom: 13px;
                display: flex;
                span {
                  &:first-child {
                    font-size: 18px;
                    text-transform: uppercase;
                  }
                }
              }
            }
          }
        }
        &.conversationList {
          flex: 0 0 49.2%;
          width: 49.2%;
          @include lg {
            display: none;
          }
          h5 {
            text-align: center;
          }
          .allMsg {
            .subList {
              .conversationBox {
                padding: 25px 0 90px 35px;
                border-bottom: none;
                background-color: transparent;
                @include lg {
                  padding: 25px 0 80px;
                }
                .dilogBox {
                  display: flex;
                  padding: 30px 0;
                  margin: 0 0 7px 0;
                  & > img {
                    width: 65px;
                    height: 65px;
                    margin: 0 27px 0 0;
                  }
                  p {
                    margin-bottom: 0;
                  }
                }
                .dilogNote {
                  background-color: $cream-color;
                  padding: 25px 15px;
                  text-align: center;
                  margin: 0 0 7px 0;
                  p {
                    font-size: 16px;
                    margin: 0;
                    font-family: $title-font;
                  }
                }
              }
              .typeMsg {
                width: 100%;
                position: absolute;
                bottom: 0;
                input {
                  border: 1px solid rgb(77 77 79 / 25%);
                  margin: 0 0 0 35px;
                  width: calc(100% - 82px);
                  @include lg {
                    margin: 0;
                    width: calc(100% - 27px);
                  }
                }
              }
            }
          }
        }
        &.bookingList {
          flex: 0 0 29.3%;
          width: 29.3%;
          @include lg {
            display: none;
          }
          .allMsg {
            .subList {
              padding: 0;
              width: 100%;
              .msgBox {
                &:first-child {
                  &::after {
                    width: 12px;
                  }
                }
              }
              .bookingBox {
                background-color: transparent;
                padding: 30px 10px 30px 30px;
                @include lg {
                  padding: 30px 30px 30px 0;
                }
                .viewBox {
                  display: flex;
                  align-items: center;
                  background-color: $green-color;
                  padding: 20px;
                  margin-bottom: 30px;
                  span {
                    font-size: 16px;
                    font-family: $title-font;
                    color: $white-color;
                    display: block;
                    line-height: 20px;
                    margin: 0 0 0 15px;
                    &:last-child {
                      font-size: 14px;
                      font-family: $default-font;
                    }
                  }
                }
                .bookingAll {
                  margin-bottom: 25px;
                  @include lg {
                    display: flex;
                    flex-wrap: wrap;
                  }
                  img {
                    height: 257px;
                    @include lg {
                      height: auto;
                      flex: 0 0 40%;
                      width: 40%;
                    }
                  }
                  .infoBox {
                    display: flex;
                    justify-content: space-between;
                    @include lg {
                      flex: 0 0 calc(60% - 15px);
                      width: calc(60% - 15px);
                      margin: 0 0 0 15px;
                      flex-wrap: wrap;
                    }
                    h3 {
                      font-size: 18px;
                      font-family: $default-font;
                      flex: 0 0 65%;
                      width: 65%;
                      @include lg {
                        width: 100%;
                        flex: 0 0 100%;
                      }
                    }
                    a {
                      width: 35%;
                      flex: 0 0 35%;
                      text-align: right;
                      @include lg {
                        width: 100%;
                        flex: 0 0 100%;
                        text-align: left;
                      }
                    }
                  }
                  .listInfo {
                    @include lg {
                      flex: 0 0 100%;
                      width: 100%;
                      margin-top: 30px;
                    }
                    & > div {
                      display: flex;
                      justify-content: space-between;
                      font-family: $title-font;
                      font-size: 16px;
                      padding: 12px 0;
                      border-top: 1px solid rgba(77, 77, 79, 0.25);
                      &:last-child {
                        border-bottom: 1px solid rgba(77, 77, 79, 0.25);
                      }
                      span {
                        & > div {
                          span {
                            display: block;
                            margin: 0 0 10px 0;
                            &:last-child {
                              margin: 0;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .titleBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
