@import "../../../../styles/global.scss";

.lovedBy {
  background-color: #8b9297;
  margin: 122px 0 0 0;
  padding: 37px 0;
  position: relative;
  @include lg {
    margin: 105px 0 0 0;
    padding: 55px 0;
  }
  :global {
    .container {
      .row {
        align-items: center;
        @include lg {
          margin: 0 0 0 30px;
        }
        .title {
          flex: 0 0 26%;
          width: 26%;
          justify-content: center;
          margin: 0;
          @include lg {
            flex: 0 0 100%;
            width: 100%;
          }
          h2 {
            color: $white-color;
            margin: 0;
            text-align: center;
            font-size: 30px;
            letter-spacing: 1px;
            @include lg {
              text-align: left;
            }
          }
        }
        .logos {
          flex: 0 0 74%;
          width: 74%;
          @include lg {
            flex: 0 0 100%;
            width: 100%;
          }
          .logoList {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @include lg {
              flex-wrap: nowrap;
              margin-top: 17px;
            }
            .slick-list {
              .slick-track {
                display: flex;
                align-items: center;
                .slick-slide {
                  text-align: center;
                }
              }
            }
            img {
              max-width: 180px;
              height: auto;
              width: auto !important;
              margin: 0 45px 0 0;
              @include lg {
                // max-width: 30%;
                // height: auto;
                margin: 0 38px 0 0;
              }
              &:last-child {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  &::after {
    content: "";
    width: 60%;
    height: 45%;
    position: absolute;
    bottom: -75px;
    left: 0;
    background: #8b9297;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 0);
    z-index: 1;
    @include lg {
      width: 50%;
      height: 11%;
      bottom: -20px;
    }
  }
}
