@import "../../../styles/global.scss";

.customerProfile {
  margin: 0;
  :global {
    .aboutRightImg {
      @include lg {
        padding-bottom: 90px;
      }
      .container {
        .row {
          .aboutImg {
            .innerImg {
              .imgFront {
                &::before {
                  background-color: $white-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
