@import "../../../../styles/global.scss";

.locationInfo {
  background-color: $cream-color;
  margin: 0;
  padding: 35px 0 90px;
  a{
    font-family: $title-font;
  }
  :global {
    .container {
      .aboutinfo {
        width: 60%;
        padding: 0 40px 0 0;
        @include lg {
          width: 100%;
        }
        .titleDouble {
          span {
            color: $black-color;
          }
          h2 {
            color: $black-color;
          }
          &::before {
            background-color: $black-color;
          }
        }
      }
      .aboutForm {
        position: relative;
        width: 40%;
        @include lg {
          width: 100%;
        }
        .bookForm {
          background-color: $white-color;
          position: absolute;
          width: 100%;
          box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
          padding: 50px 60px;
          @include lg {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 99999;
            padding: 20px 38px;
            height: 100vh;
            display: none;
          }
          &.show {
            display: block;
          }
          .mobileBook {
            @include min-lg {
              display: none;
            }
            .backBtn {
              margin: 18px 0;
              font-size: 16px;
              span {
                display: flex;
                align-items: center;
                font-family: $title-font;
                svg {
                  margin: 0 10px 0 0;
                }
              }
            }
            h3 {
              text-align: center;
            }
            .productBox {
              display: flex;
              margin: 30px 0 20px 0;
              img {
                flex: 0 0 40%;
                width: 40%;
                height: 100%;
                margin: 0 10px 0 0;
              }
              .productInfo {
                flex: 0 0 60%;
                width: 60%;
                h4 {
                  
                  text-transform: uppercase;
                  font-size: 18px;
                  letter-spacing: 1.5px;
                  line-height: 27px;
                  margin: 0 0 8px 0;
                }
              }
            }
          }
          form {
            h2 {
              @include lg {
                margin: 0 0 15px 0;
              }
            }
            p {
              @include lg {
                margin: 0 0 5px 0;
              }
            }
            h3 {
              margin: 30px 0 20px 0;
              @include lg {
                border-top: 1px solid rgba(77, 77, 79, 0.5);
                padding-top: 30px;
                font-size: 18px;
              }
            }
            .dateFiled {
              position: relative;
              input {
                &[type="date"] {
                  width: 100%;
                  padding: 21px 20px;
                  font-size: 16px;
                  margin-bottom: 17px;
                  border: 1px solid $black-color;
                  @include lg {
                    margin-bottom: 23px;
                  }
                }
              }
              &::after {
                content: "";
                background-image: url("/assets/images/calendar.png");
                width: 35px;
                height: 36px;
                position: absolute;
                right: 15px;
                top: 15px;
                background-color: $white-color;
                pointer-events: none;
              }
            }
            .timeFiled {
              display: flex;
              align-items: center;
              justify-content: space-between;
              input {
                flex: 0 0 48%;
                border: 1px solid $black-color;
                margin-bottom: 12px;
              }
            }
            .dayAdd {
              font-size: 15px;
              text-decoration: underline;
            }
            .costBox {
              display: flex;
              justify-content: space-between;
              margin: 35px 0 0 0;
              @include lg {
                border-top: 1px solid rgba(77, 77, 79, 0.5);
                padding-top: 32px;
              }
              h4 {
                margin-bottom: 8px;
                font-size: 23px;
                font-family: $title-font;
                @include lg {
                  margin-bottom: 0;
                  font-size: 20px;
                }
              }
            }
            .allBtn {
              width: 100%;
              margin-bottom: 15px;
            }
            .askForm {
              text-align: center;
            }
          }
        }
        .mobileBookBtn {
          @include min-lg {
            display: none;
          }
          position: fixed;
          background: $white-color;
          bottom: 0;
          z-index: 999;
          left: 0;
          right: 0;
          box-shadow: 0px 0px 6px #8b9297;
          padding: 30px 36px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            margin: 0;
            font-size: 20px;
            font-family: $title-font;
          }
          span {
            display: block;
            margin-bottom: 7px;
          }
          .allBtn {
            margin: 0;
          }
        }
      }
    }
  }
}
