@import "../../../../styles/global.scss";
.mainBookingSection{
    background-color: rgba(139,146,151,0.25);
    padding: 50px 42px;
    width: 71%;
    max-width: 1100px;
    @include x-xl{
        padding: 35px 25px;
    }
    @include x-lg{
        width: 100%;
    }   
    hr{
        height: 1px;
        background-color: rgba(77,77,79,.5);
        border: 0;
        width: 100%;
    }
    h3{
        margin-bottom: 24px;
    }
    > form {
        background: $white-color;
        padding: 10px 0 10px 20px;
        margin-bottom: 38px;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 362px;
        margin-top: 25px;
        & > div {
          flex: 0 0 85%;
          display: flex;
          flex-direction: column;
          label {
            font-size: 16px;
            font-weight: 600;
          }
        }
        input {
          border: none;
          font-size: 14px;
          padding: 0;
          min-height: auto;
          margin: 0;
        }
        button {
          flex: 0 0 12%;
          border: none;
          background: transparent;
          cursor: pointer;
        }
      }
      :global{
        .bookingsData{
            .singleBooking{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                background-color: $white-color;
                padding: 42px 36px 42px 45px;
                margin-bottom: 30px;
                @include x-xxl{
                    padding: 35px 25px 35px 30px;
                }
                @include xmd{
                    padding: 25px 20px 25px 20px;
                }
                .bookingId{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    max-width: 350px;
                    width: 100%;
                    justify-content: space-between;
                    margin-top: 11px;
                    @include xmd{
                        max-width: 320px;
                    }
                    @include lg{
                        max-width: 255px;
                    }
                    button{
                        color: $green-color;
                        text-decoration: underline;
                        font-family: $default-font;
                        font-size: 14px;
                    }
                    h3{
                        margin: 0;
                    }
                    p{
                        margin: 10px 0 0 0;
                        font-size: 20px;
                        @include xmd{
                            font-size: 16px;
                        }
                        @include lg{
                            font-size: 14px;
                        }
                    }
                }
                .requestDate{
                    max-width: 370px;
                    width: 100%;
                    padding: 13px 28px;
                    background-color: #8B9297;
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                    margin-left: 35px;
                    @include x-xl{
                        margin-left: 0;
                    }
                    @include xmd{
                        padding: 13px 15px;
                        max-width: 345px;
                    }
                    @include lg{
                        padding: 13px 10px;
                        max-width: 315px;
                    }
                    img{
                        margin-right: 10px;
                    }
                    span{
                        display: inline-block;
                        width: 100%;
                        @include lg{
                            font-size: 12px;
                        }
                    }
                }
                button{
                    img{
                        height: 10px;
                        width: 16px;
                        position: relative;
                        top: 9px;
                        @include lg{
                            top: 0;
                        }
                    }
                    &.openAccordion{
                        img{
                            transform: rotate(180deg);
                        }
                        & + .accordionSummary{
                            display: block;
                        }
                    }
                }
                .accordionSummary{
                    width: 100%;
                    border-top: 1px solid rgba(77,77,79,.25);
                    margin-top: 40px;
                    display: none;
                    .summaryBox{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 44px 0 30px 0;
                        justify-content: space-between;
                        align-items: flex-start;
                        .bookingInfo{
                            width: 37%;
                            .dateTimeBox{
                                background-color: $cream-color;
                                padding: 48px 44px 20px 44px;                            
                                margin-bottom: 44px;
                                width: 100%;
                                @include x-xl{
                                    padding: 35px 30px 20px 30px;
                                }
                                @include lg{
                                    padding: 15px;
                                }
                                .dayCrew{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: flex-start;
                                    margin-bottom: 15px;
                                    &:last-child{
                                        border-top: 1px solid rgba(77,77,79,.25);
                                        padding-top: 34px;
                                        margin-top: 20px;
                                    }
                                }
                                p{
                                    font-size: 15px;
                                    color: $black-color;
                                    line-height: normal;
                                    margin: 0;
                                }
                                .timeDiv{
                                    p{
                                        text-align: right;
                                        line-height: 22px;
                                    }
                                }
                            }
                            .ownerBox{
                                width: 100%;
                                max-width: 310px;
                                .ownerInfo{
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    width: 100%;
                                    p{
                                        text-transform: uppercase;
                                        font-size: 18px;
                                        @include xl{
                                            font-size: 16px;
                                        }
                                    }
                                    img{
                                        height: 120px;
                                        width: 120px;
                                        object-fit: cover;
                                        margin-right: 25px;
                                        @include xl{
                                            height: 100px;
                                            width: 100px;
                                            margin-right: 15px;
                                        }
                                        @include lg{
                                            height: 80px;
                                            width: 80px;
                                            margin-right: 10px;
                                        }
                                    }
                                    .rating {
                                        display: flex;
                                        align-items: center;
                                        text-decoration: underline;
                                        width: 35px;
                                        justify-content: space-between;
                                        margin-left: auto;
                                      }
                                }
                            }
                        }
                        .revenueBox{
                            width: 60%;
                            padding-left: 30px;
                            border-left: 1px solid rgba(77,77,79,.25);
                            padding-bottom: 47px;
                            h3{
                                margin-bottom: 45px;
                                line-height: normal;
                            }
                            h3 + div{
                                border-bottom: 1px solid rgba(77,77,79,.25);
                                margin-bottom: 32px !important;
                                padding-bottom: 7px;
                            }
                            .revenueDiv{
                                font-size: 16px;
                                color: $black-color;
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                                margin-bottom: 8px;
                                &.hostRevenue{
                                    border-top: 1px solid rgba(77,77,79,.25);
                                    padding-top: 33px;
                                    margin-top: 23px;
                                    margin-bottom: 14px;
                                }
                                p{
                                    margin: 0;
                                    line-height: 20px;
                                    font-size: 14px;
                                }
                                .revenuePrice{
                                    p{
                                        text-align: right;
                                    }
                                }
                            }
                        }
                        h3{
                            font-size: 20px;
                            margin-bottom: 20px;
                        }
                    }
                    .messageBox{
                        width: 100%;
                        padding-top: 40px;
                        border-top: 1px solid rgba(77,77,79,.25);
                        .messageDetails{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            flex-wrap: wrap;
                            h4{
                                text-transform: uppercase;
                            }
                            p{
                                width: 100%;
                            }
                        }
                        hr{
                            border: none;
                            height: 1px;
                            background-color: rgba(77,77,79,.25);
                            width: 100%;
                            margin-bottom: 20px;
                            margin-top: 10px;
                            display: inline-block;
                        }
                        form{
                            .halfDiv{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 40px;
                                input{
                                    width: 79.5%;
                                    margin: 0;
                                    @include lg{
                                        width: 74.5%;
                                    }
                                }
                                .allBtn{
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
                .allBtn{
                    margin: 0;
                }
                &.confirmBooking{
                    .requestDate{
                        background-color: $green-color;
                    }
                    .buttonContainer{
                        display: flex;
                        align-items: center;
                        a{
                            margin-left: 30px;
                        }
                    }
                }
            }
            .allBtn{
                margin: 0 auto;
                height: 50px;
                font-family: $default-font;
                display: block;
            }
        }
      }
}