@import "../../../../styles/global.scss";
.yourBookingPage{
    margin: 8px 0 0 0;
    :global{
        .bookingDiv{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @include x-lg{
                flex-wrap: wrap;
            }
            .sidebarDiv{
                width: 27.3%;
                max-width: 400px;
                @include x-lg{
                    width: 100%;
                    margin-bottom: 40px;
                }
                @include md{
                    margin-bottom: 0;
                }
                &.hide{
                    @include md{
                        display: none;
                    }
                }
            }
            .rightSide{
                width: 71%;
                max-width: 1100px;
                @include x-lg{
                    width: 100%;
                } 
                .backbtn{
                    display: flex;
                    align-items: center;
                    max-width: 200px;
                    margin-top: -4px;
                    @include min-md{
                        display: none;
                    }
                    img{
                        margin-right: 10px;
                    }
                }
                &.hide{
                    @include md{
                        display: none;
                    }
                }
                &.show{
                    display: block;
                }
            }
        }
    }
}