@import "../../../../styles/global.scss";

.popularLocations {
  background-color: $cream-color;
  margin: 0;
  padding: 105px 0 165px;
  position: relative;
  // overflow: hidden;
  @include lg {
    padding: 76px 0 135px;
  }
  :global {
    .container {
      @include lg {
        padding: 0;
      }
      .title {
        @include lg {
          padding: 0 35px;
        }
        a{
          font-family: $title-font;
        }
      }
      .styleSlider {
        & > .slick-list {
          margin: 0 -25px;
          @include lg {
            margin: 0;
          }
          & > .slick-track {
            & > .slick-slide {
              padding: 0 25px;
              @include lg {
                padding: 0 12px;
              }
              .slideInfo {
                img {
                  height: 100%;
                }
                h3 {
                  text-align: center;
                  
                  margin: 10px 0 0 0;
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
        .slick-dots {
          bottom: -59px;
          @include lg {
            bottom: -40px;
          }
        }
      }
    }
  }
  &::after {
    content: "";
    width: 50%;
    height: 11%;
    position: absolute;
    //  bottom: -77px;
    bottom: -10%;
    right: 0;
    background: $cream-color;
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 0 0);
    z-index: 1;
    @include lg {
      width: 50%;
      height: 4%;
      bottom: -25px;
    }
  }
  &::before {
    content: "";
    width: 50%;
    height: 14%;
    position: absolute;
    //top: -95px;
    top: -13%;
    right: 0;
    background: #e6e2df;
    clip-path: polygon(100% 100%, 0 100%, 100% 0, 100% 100%, 0 0);
    z-index: 1;
    @include lg {
      width: 75%;
      height: 5%;
      top: -19px;
    }
  }
}
