@import "../../../../styles/global.scss";

.locationReview {
  background-color: $cream-color;
  margin: 0;
  padding: 105px 0 90px;
  position: relative;
  // overflow: hidden;
  :global {
    .container {
      @include lg {
        //padding-right: 0;
      }
      .allReviews {
        width: 1160px;
        margin: 0 auto;
        max-width: 90%;
        @include lg {
          max-width: 100%;
        }
        .title {
          h2 {
            svg {
              margin: 0 10px -7px 0;
            }
          }
          span {
            cursor: pointer;
            color: $green-color;
            text-decoration: underline;
          }
          @include lg {
            display: flex;
          }
        }
        .mainReview {
          display: flex;
          justify-content: space-between;
          .reviewBox {
            flex: 0 0 48%;
            .img {
              margin-bottom: 28px;
              display: flex;
              img {
                width: 120px;
                height: auto;
                margin: 0 27px 0 0;
              }
            }
            .info {
              h5 {
                font-family: $default-font;
                text-transform: uppercase;
                margin-bottom: 10px;
              }
            }
          }
          .slick-list {
            margin: 0 -2%;
            .slick-track {
              .slick-slide {
                padding: 0 1%;
              }
            }
          }
        }
      }
    }
  }
  &::before {
    content: "";
    width: 50%;
    height: 18%;
    position: absolute;
    top: -90px;
    right: 0;
    background: #e6e2df;
    clip-path: polygon(100% 100%, 0 100%, 100% 0, 100% 100%, 0 0);
    z-index: 1;
    @include lg {
      width: 100%;
      top: -55px;
    }
  }
}
