@import "../../../../styles/global.scss";

.titleWithTextBanner {
  background-color: $cream-color;
  margin: 25px 0 0 0;
  position: relative;
  z-index: 1;
  @include md{
    margin: 0;
  }
  :global {
    .heroImg {
      position: relative;
      padding-bottom: 11.5%;
      min-height: 220px;
      @include x-lg{
        padding: 0;
        height: 200px;
      }
      @include md{
        height: 250px;
      }
      img {
        width: 100%;
        height: 100%;
        min-height: 220px;
        object-fit: cover;
        position: absolute;
        top: 0;
        @include x-lg{
          height: 200px;
          position: static;
          object-fit: cover;
        }
        @include md{
          height: 250px;
        }
      }
    }
    .container {
      position: relative;
      .titleText {
        position: absolute;
        top: -152px;
        left: 51%;
        width: 100%;
        transform: translate(-50%, 0);  
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include min-big-desktop{
          top: -185px;
        }
        // @include max-desk{
        //   top: -128px;
        // }
        @include x-xl{
          top: -178px;
        }
        @include x-lg{
          top: -180px;
          left: 53%;
        }
        @include md{
          //top: -210px;
          left: 50%;
          width: 100%;
          max-width: 85%;
          flex-wrap: wrap;
        }
        h1{
          color: $white-color;
          font-family: $default-font;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin: 0 0 10px 0;
          @include md{
            letter-spacing: 0;
            line-height: normal;
          }
        }
        p{
          color: $white-color;
          @include md{
            line-height: normal;
          }
        }
        .buttonContainer{
          margin-top: -12px;
          @include md{
            display: none;
          }
        }
        .allBtn{
          border-color: $green-color;
          margin-right: 45px;
          margin-top: 0;  
          &:hover{
            border-color: $white-color;
          } 
          @include xl{
            margin-right: 30px;
          }  
          @include x-lg{
            margin: 0 20px 15px 0;
          }
          @include md{
            margin: 0 auto;
          }
          &:last-child{
            margin: 0 170px 0 0;
            background-color: $white-color;
            color: $green-color;
            border: $white-color;
            &:hover{
              background-color: $green-color;
              color: $white-color;
            }
            @include xl{
              margin: 0 120px 0 0;
            }
            @include x-lg{
              margin: 0 145px 0 0;
            }
          }
        }
        .titleCont{
          @include x-xl{
            max-width: 40%;
          }
          @include lg{
            max-width: 52%;
          }
          @include md{
            max-width: 100%;
          }
        }
      }
    }
  }
  &::after {
    content: "";
    width: 28%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    background: $white-color;
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 0);
    @include min-big-desktop{
      top: -1px;
    }
    @include max-desk{
      width: 23%;
      height: 62%;
    }
    @include lg{
        width: 23%;
        height: 45%;
        top: -1px;
    }
    @include md{
      width: 44%;
      height: 16%;
      top: -1px;
      right: -2px;
    }
  }
}
