// @import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
//@import url("https://use.typekit.net/kiw3ahm.css");

@font-face {
  font-family: "Baskervville";
  src: url("../styles/fonts/Baskervville-Regular.woff2") format("woff2"),
    url("../styles/fonts/Baskervville-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
