@import "../../../styles/global.scss";

.requestBookingView {
  margin: 0;
  :global {
    .mainBooking {
      margin-bottom: -50px;
      .container {
        .row {
          justify-content: space-between;
          .leftBooking {
            flex: 0 0 29%;
            width: 29%;
          }
          .rightBooking {
            flex: 0 0 65%;
            width: 65%;
          }
        }
      }
    }
  }
}
