@import "../../../styles/global.scss";
.directorySerivceProviderPage{
    margin: 0;
    :global{
        .locationGallery{
            .gallaryMain{
                .tittle{
                    .left{
                        .last{
                            p{
                                &:first-child{
                                    display: none;
                                }
                            }
                        }
                    }
                    .right{
                        span{
                            display: none;
                        }
                        a{
                            &:last-child{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}