@import "../../../../styles/global.scss";
.propertyFilterTab{
    margin: -60px 0 0 0;
    background-color: $cream-color;
    padding: 68px 0 50px 0;
    transform: rotate(1deg);
    width: 101%;
    @include min-big-desktop{
        margin-top: -66px;
        padding-top: 74px;
    }
    @include md{
        margin: -71px 0 0 -5px;
        width: 104%;
        padding-bottom: 30px;
    }
    :global{
        .titleText{
            max-width: 1164px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transform: rotate(-1deg);
            @include md{
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
            }
            h3{
                margin: 0 150px 0 0;
                font-family: $title-font;
                @include x-lg{
                    margin: 0 5px 0 0;
                }
                @include md{
                    margin: 0;
                }
            }
           .filter-tab{
                display: flex;
                justify-content: flex-start;
                @include md{
                    max-width: 350px;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 20px;
                }
                li{
                    padding-right: 98px;
                    @include xl{
                        padding-right: 55px;
                    }
                    @include x-lg{
                        padding-right: 30px;
                    }
                    @include md{
                        width: auto;
                        padding: 0;
                        margin-bottom: 20px;
                        margin-right: 20px;
                        text-align: center;
                    }
                    &:nth-child(3){
                        @include md{
                            margin-right: 0;
                        }
                    }
                    a{
                        text-decoration: none;
                        font-family: $title-font;
                        &:hover{
                            text-decoration: underline;
                        }
                        &.active{
                            text-decoration: underline;
                        }
                    }
                    &:last-child{
                        padding: 0;
                    }
                }
           }
        }
    }
}