@import "../../../../styles/global.scss";

.favouritesGroupSubList {
  margin-top: 8px;
  :global {
    .container {
      .titleLinks {
        a {
          margin: 0 0 0 35px;
          img {
            margin: 0 5px -3px 0;
          }
        }
      }
      .LocationMain {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        column-gap: 95px;
        margin-bottom: 30px;
        @include lg {
          grid-template-columns: repeat(1, 1fr);
        }
        .locationBox {
          a{
            color: inherit;
            text-decoration: none;
          }
          .slideImg {
            position: relative;
            padding-bottom: 69%;
            & > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
            }
          }
          .slideInfo {
            margin: 16px 0 0 0;
            .subDetail {
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
              align-items: baseline;
              p {
                margin: 0;
              }
              h3 {
                font-family: $default-font;
                font-size: 18px;
                text-transform: uppercase;
                flex: 0 0 55%;
                margin: 0;
              }
              .rating {
                display: flex;
                align-items: center;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
